:root {
  --primary-color: #386641;
  --secondary-color: #6a994e;
  --tertiary-color: #a7c957;
  --accent-color: #bc4749;
  --light-color: #ede0bf;
  --brown: #a98467;
}

#board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board-row {
  display: flex;
  flex-direction: row;
}

.board-tile {
  display: flex;
  align-items: center;
  justify-content: center;

  user-select: none;
  cursor: pointer;

  width: 30px;
  height: 30px;

  border: 1px solid black;

  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: var(--light-color);

  background-color: var(--tertiary-color);
}

.snake-body {
  background-color: var(--primary-color);
  cursor: default;
}

.flagged-apple {
  background-color: var(--accent-color);
}

.debug-apple {
  background-color: orange;
}

.revealed-tile {
  background-color: var(--brown);
  cursor: default;
}

#mobile-controls {
  display: none;
}

.score-display {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

@media (max-width: 600px) {
  .board-tile {
    width: 20px;
    height: 20px;
    font-size: 10px;
  }

  #mobile-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  #mobile-controls-row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #mobile-controls button {
    width: 75px;
    height: 75px;
    margin: 5px;
    font-size: 40px;
    border-radius: 10px;
    border: none;
    background-color: var(--secondary-color);
    color: var(--light-color);
    font-family: "Titan One", sans-serif;
    cursor: pointer;
  }
}
