:root {
  --primary-color: #386641;
  --secondary-color: #6a994e;
  --tertiary-color: #a7c957;
  --accent-color: #bc4749;
  --accent-secondary-color: #33658a;
  --light-color: #ede0bf;
  --dark-color: #14213d;
  --brown: #a98467;
}

/* Global Styling */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--light-color);

  font-family: "Titan One", sans-serif;
  color: var(--dark-color);
}

h1 {
  font-size: 3.5rem;
}

button {
  padding: 0.75rem 1rem;
  margin: 1rem;

  border: none;
  border-radius: 0.5rem;
  background-color: var(--secondary-color);

  color: var(--light-color);
  font-family: "Titan One", sans-serif;
  font-size: 1.75rem;

  cursor: pointer;
}

button:hover {
  background-color: var(--primary-color);
  transform: scale(1.05);
  transition: all 0.2s ease;
  box-shadow: var(--dark-color) 0px 4px 8px;
}

button:active {
  transform: scale(0.95);
  background-color: var(--tertiary-color);
}

.logo {
  text-decoration: none;
  color: var(--dark-color);
}

/* Intro Section */
.info {
  width: 50%;
  padding: 1rem;

  border: 2px solid var(--dark-color);
  border-radius: 1rem;

  background-color: #e4d1a0;
  font-size: 1.25rem;
}

.desktop-controls-instructions {
  display: inline;
}

.mobile-controls-instructions {
  display: none;
}

.info a {
  text-decoration: none;
  color: var(--dark-color);
}

.info a i {
  margin-left: 0.25rem;
  font-size: 1.1rem;
}

.info a:hover {
  color: var(--accent-secondary-color);
}

.info a:active {
  filter: brightness(125%);
}

/* Game Settings */
.settings-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 60%;
}

.settings-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
}

.settings-row label {
  margin-right: 0.5rem;
  font-size: 1.75rem;
}

.settings-container select {
  padding: 0.75rem 1rem;

  font-family: "Titan One", sans-serif;
  font-size: 1.75rem;
  color: var(--light-color);

  background-color: var(--accent-secondary-color);
  border: none;
  border-radius: 0.5rem;
}

.settings-container option {
  font-family: "Titan One", sans-serif;
  font-size: 1.5rem;
  color: var(--light-color);

  background-color: var(--accent-secondary-color);
  border: none;
  border-radius: 0.5rem;
}

.settings-container button {
  height: 3.7rem;
  width: 15rem;
}

/* Board Styling */
#board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board-row {
  display: flex;
  flex-direction: row;
}

.board-tile {
  display: flex;
  align-items: center;
  justify-content: center;

  user-select: none;
  cursor: pointer;

  border: 1px solid var(--dark-color);

  font-family: "Titan One", sans-serif;
  font-style: normal;
  font-size: 2rem;
  color: var(--light-color);

  background-color: var(--tertiary-color);
}

/* Tile Sizes */
.board-tile.small {
  width: 30px;
  height: 30px;
  font-size: 1.5rem;
}

.board-tile.medium {
  width: 35px;
  height: 35px;
  font-size: 1.75rem;
}

.board-tile.large {
  width: 45px;
  height: 45px;
  font-size: 2.15rem;
}

/* Tile States */
.snake-body {
  background-color: var(--primary-color);
  cursor: default;
}

.flagged-apple {
  background-color: var(--accent-color);
}

.debug-apple {
  background-color: orange;
}

.revealed-tile {
  background-color: var(--brown);
  cursor: default;
}

/* Score Display */
.score-display {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  width: 50%;
  user-select: none;
}

.score-display p {
  font-family: "Titan One", sans-serif;
  font-size: 2.5rem;
}

/* Game Over Overlay */
.hidden {
  display: none;
}

.game-over-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  width: 35%;
  height: 55%;

  padding: 1rem;

  background-color: rgba(20, 33, 61, 0.85);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;

  color: var(--light-color);
  text-align: center;
  user-select: none;

  z-index: 1000;
}

.game-over-overlay h2 {
  font-size: 2.75rem;
  margin-bottom: 0.5rem;
}

.game-over-overlay p {
  font-size: 2rem;
  margin-bottom: 0.25rem;
}

.game-over-overlay button {
  height: 4rem;
  width: 75%;
  margin-bottom: 0.25rem;
}

#new-game-button {
  background-color: var(--accent-secondary-color);
}

#new-game-button:hover {
  filter: brightness(75%);
}

#new-game-button:active {
  filter: brightness(125%);
}

.board-game-over {
  filter: blur(4px);
}

.board-game-over .board-tile {
  pointer-events: none;
}

/* Hide Mobile Controls by Default */
#mobile-controls {
  display: none;
}

/* HD Screens */
@media (max-width: 1280px) {
  h1 {
    font-size: 3rem;
  }

  /* Settings */
  .info {
    width: 80%;
  }

  .settings-container {
    width: 80%;
  }

  /* Board Tiles */
  .board-tile.small {
    width: 25px;
    height: 25px;
    font-size: 1.25rem;
  }

  .board-tile.medium {
    width: 30px;
    height: 30px;
    font-size: 1.5rem;
  }

  .board-tile.large {
    width: 45px;
    height: 45px;
    font-size: 2rem;
  }

  /* Score Display */
  .score-display p {
    font-size: 1.75rem;
  }

  /* Game Over Overlay */
  .game-over-overlay h2 {
    font-size: 2.5rem;
  }

  .game-over-overlay p {
    font-size: 1.5rem;
  }
}

/* Medium Width Screens */
@media (max-width: 900px) {
  /* Settings */
  .info {
    width: 85%;
  }

  .settings-container {
    width: 85%;
  }

  /* Board Tiles */
  .board-tile.small {
    width: 20px;
    height: 20px;
    font-size: 1rem;
  }

  /* Score Display */
  .score-display {
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: auto;
  }

  .score-display p {
    margin: 5px 0 0 0;
  }

  /* Game Over Overlay */
  .game-over-overlay {
    width: 45%;
  }
}

@media (max-width: 830px) {
  /* Game Settings */
  .settings-container {
    flex-direction: column;
  }

  .settings-container button {
    width: 100%;
  }

  .settings-row {
    justify-content: space-between;
    width: 100%;
  }
}

/* Mobile Screens */
@media (max-width: 600px) {
  h1 {
    font-size: 2.5rem;
  }

  /* Intro Section */
  .info {
    width: 85%;
  }

  .desktop-controls-instructions {
    display: none;
  }

  .mobile-controls-instructions {
    display: inline;
  }

  /* Game Settings */
  .settings-container {
    width: 85%;
  }

  .settings-row {
    flex-direction: column;
  }

  .settings-row label {
    margin-bottom: 0.5rem;
  }

  .settings-container select {
    width: 100%;
  }

  /* Board Tiles */
  .board-tile.small {
    width: 13px;
    height: 13px;
    font-size: 0.75rem;
  }

  .board-tile.medium {
    width: 20px;
    height: 20px;
    font-size: 1.15rem;
  }

  .board-tile.large {
    width: 27px;
    height: 27px;
    font-size: 1.35rem;
  }

  /* Score Display */
  .score-display p {
    font-size: 1.5rem;
  }

  /* Game Over Overlay */
  .game-over-overlay {
    width: 75%;
  }

  /* Controls */
  #mobile-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 10px;
    width: 100%;

    position: fixed;
    top: 80%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  #mobile-controls-row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #mobile-controls button {
    width: 75px;
    height: 75px;

    margin: 5px;
    padding: 0;

    border-radius: 10px;
    border: none;
    background-color: var(--secondary-color);

    font-family: "Titan One", sans-serif;
    font-size: 40px;
    text-align: center;
    color: var(--light-color);

    cursor: pointer;
  }
}
